.practice-target-content{
    font-size: 16px;
}
.practice-target{
    margin-bottom: 20px;
}
.practice-input{
    margin-bottom: 20px;
}
.practice-modal{
    display: flex;
    align-items: center;
    justify-content: center;
}
.practice-header{
    display: flex;
    flex-direction: row;
}
